/* Border trail animation */
.border-trail {
  --border-width: 2px;
  --trail-size: 50px;
  position: relative;
  border: var(--border-width) solid transparent;
}

.border-trail::before {
  content: " ";
  position: absolute;
  inset: calc(var(--border-width) * -1);
  z-index: -1;
  border: inherit;
  border-radius: inherit;
  background-image: conic-gradient(
    from var(--angle),
    #1a2866 80%,
    #7e2de8 88%,
    #2f46fa 92%,
    #7e2de8 100%
  );
  background-origin: border-box;
  -webkit-mask: linear-gradient(black, black) content-box,
    linear-gradient(black, black);
  mask: linear-gradient(black, black), linear-gradient(black, black);
  -webkit-mask-clip: content-box, border-box;
  mask-clip: content-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: spin 10s linear infinite;
}

@supports not (background: paint(something)) {
  .border-trail::before {
    background-image: conic-gradient(
      #242424 80%,
      #7e2de8 88%,
      #2f46fa 92%,
      #7e2de8 100%
    );
  }
}

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes spin {
  to {
    --angle: 1turn;
  }
}
