/* From Uiverse.io by LightAndy1 */
.package {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(163deg, #7e2de8 0%, #00fefc 100%);
  border-radius: 20px;
  text-align: center;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
}

.package:hover {
  box-shadow: 0 0 20px 1px #7e2de8;
}

.package2 {
  width: 100%;
  height: 100%;
  background-color: #020617;
  border-radius: 20px;
  border: 1px solid #475569;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
  padding: 15px;
  cursor: pointer;
}

.package2:hover {
  transform: scale(0.99);
  border-radius: 18px;
}

.text {
  color: white;
  font-size: 17px;
}
