@import "tailwindcss";

@theme {
  --color-neon-blue: #2f46fa;
  --color-neon-green: #55fc77;
  --color-neon-yellow: #fffe13;
  --color-neon-pink: #fb41da;
  --color-neon-purple: #7e2de8;
  --color-neon-cyan: #00fefc;
  --font-orbitron: "Orbitron", sans-serif;
  --font-tektur: "Tektur", serif;
}
