@import "tailwindcss";

@theme {
  --color-dark: #0d1117;
  --color-dark-gray: #242424;
  --color-neon-blue: #2f46fa;
  --color-neon-green: #55fc77;
  --color-neon-yellow: #fffe13;
  --color-neon-pink: #fb41da;
  --color-neon-purple: #7e2de8;
  --color-neon-cyan: #00fefc;
  --font-orbitron: "Orbitron", sans-serif;
  --font-tektur: "Tektur", serif;
  --font-poppins: "Poppins", serif;
  --font-jetbrains: "JetBrains Mono", serif;
}

/* Apply custom scrollbar styles to the entire page */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #020618;
}

::-webkit-scrollbar-thumb {
  background-color: #4f46e5;
  border-radius: 10px;
  border: 2px solid #1a1a1a;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #4f46e5#000319;
}

img {
  pointer-events: none;
}
